html
  font-size: 10px

/*mobile first*/

.logo, .search
  margin: 4rem 0 0 0
  text-align: center

.search
  background-image: url("../images/search.png")
  background-repeat: no-repeat
  width: 27rem
  height: 3.5rem
  margin: 4rem auto
  &  p
    font-size: 1.5rem
    font-family: Arial, sans-serif
    color: #bfbfbf
  &  input
    border: none
    padding: 1rem
    height: 0.5rem
    margin-top: 0.5rem
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: right
    margin: 6rem 8rem 6rem 0

.logo
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: left
    margin: 6rem 0 6rem 8rem

h1
  clear: both
  font-size: 2.5rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 7.2rem

.descriptionBook
  clear: both
  font-size: 2.3rem
  font-family: Arial, sans-serif
  color: #333333
  text-align: center
  line-height: 3.4rem
  @media screen and (min-width: 600px) and (orientation: landscape)
    width: 41.7rem
    padding: 0 1.5rem
    margin: 0 auto

.coverImg
  display: block
  margin: 4rem auto


.citePic, .titlePic, .skraffi
  display: block
  margin: 6rem auto 2.5rem

.book_div
  @media screen and (min-width: 600px) and (orientation: landscape)
    display: inline-block
    width: 50%
    position: relative

.reviews_div
  @media screen and (min-width: 600px) and (orientation: landscape)
    display: inline-block
    float: left
    width: 25%

.features_div
  @media screen and (min-width: 600px) and (orientation: landscape)
    display: inline-block
    float: right
    width: 25%

.cite, .title
  font-size: 2.1rem
  font-family: Arial, sans-serif
  color: #333333
  text-align: center
  line-height: 3.2rem
  width: 24rem
  margin: 0 auto

.buttonBuy
  clear: both
  display: flex
  justify-content: center
  width: 29rem
  height: 11.5rem
  background-color: #805582
  margin: 4rem auto
  border: 0.2rem solid #805582
  border-radius: 1rem
  font-size: 3.2rem
  line-height: 3.8rem
  font-family: Arial, sans-serif
  color: #ffffff

@mixin gradient($from-color, $to-color)
  background-color: mix($from-color, $to-color); /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color))
  background-image: -webkit-linear-gradient(top, $from-color, $to-color)
  background-image:    -moz-linear-gradient(top, $from-color, $to-color)
  background-image:     -ms-linear-gradient(top, $from-color, $to-color)
  background-image:      -o-linear-gradient(top, $from-color, $to-color)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')"



.buttonBuy:hover
  @include gradient(#c18cc4,  #4b294d)




.bender
  clear: both
  width: 30rem
  background-image: url("../images/Bender_footer.jpg")
  background-repeat: no-repeat
  height: 19.5rem
  margin: 4rem auto 0

.comment
  clear: both
  width: 29rem
  font-size: 1.5rem
  line-height: 1.9rem
  font-family: Arial, sans-serif
  font-style: italic
  color: #dcdcdc
  text-align: center
  margin: 0 auto

#book_card
  margin: 0 auto


.eye
  @media screen and (min-width: 900px) and (orientation: landscape)
    position: absolute
    top: 64.5rem
    left: 80rem
    background-image: url("../images/eye.png")
    background-repeat: no-repeat
    width: 14rem
    height: 14rem





.eye_tracker
  @media screen and (min-width: 900px) and (orientation: landscape)
    position: absolute
    background-image: url("../images/eye tracker.png")
    background-repeat: no-repeat
    top: 0
    left: 0
    width: 2.6rem
    height: 2.6rem
