html
  font-size: 10px

@font-face
  font-family: 'ALS Fuchsia'
  src: url('fonts/ALSFuchsia.eot')
  src: url('fonts/ALSFuchsia.eot?#iefix') format('embedded-opentype'),
  url('fonts/ALSFuchsia.woff') format('woff'),
  url('fonts/ALSFuchsia.ttf') format('truetype'),
  url('fonts/ALSFuchsia.svg#ALSFuchsia') format('svg')
  font-weight: normal
  font-style: normal

/*mobile first*/

.logo, .search
  margin: 4rem 0 0 0
  text-align: center

.search
  background-image: url("../images/search.png")
  background-repeat: no-repeat
  width: 27rem
  height: 3.5rem
  margin: 4rem auto
  &  p
    font-size: 1.5rem
    font-family: Arial, sans-serif
    color: #bfbfbf
  &  input
    border: none
    padding: 1rem
    height: 0.5rem
    margin-top: 0.5rem
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: right
    margin: 6rem 8rem 6rem 0

.logo
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: left
    margin: 6rem 0 6rem 8rem


h1
  clear: both
  font-size: 3.6rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 7.2rem

.info
  font-size: 2.4rem
  font-family: Arial, sans-serif
  color: #000000
  text-align: center
  line-height: 3.4rem
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 3.2rem
    line-height: 4.8rem
    max-width: 88rem
    margin: 0 auto

h2
  font-size: 3rem
  font-family: Arial, sans-serif
  color: #000000
  text-align: center
  line-height: 5.4rem
  font-weight: bold
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 4.2rem
    line-height: 5.4rem
    max-width: 64rem
    margin: 5rem auto 3rem
    text-align: left

h3
  font-size: 2.4rem
  font-family: Arial, sans-serif
  color: #000000
  text-align: left
  line-height: 3.2rem
  font-weight: bold
  margin-bottom: 0
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 2.4rem
    max-width: 64rem
    margin: 5rem auto 3rem

.history
  font-size: 1.9rem
  font-family: Arial, sans-serif
  color: #000000
  text-align: left
  line-height: 3.2rem
  @media screen and (min-width: 600px) and (orientation: landscape)
    max-width: 64rem
    margin: 0 auto

.photo
  text-align: center

.avatar
  width: 10.5rem
  margin: 0 1rem

.attention
  font-size: 2.8rem
  font-family: 'ALS Fuchsia', sans-serif
  color: #000000
  text-align: center
  line-height: 4.2rem
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 3.6rem
    max-width: 88rem
    line-height: 5.4rem
    margin: 5rem auto

ul
  list-style: none
  margin: 0
  padding: 0.5rem

li:before
  content: '—'
  margin-right: 0.5rem

.bender
  clear: both
  width: 30rem
  background-image: url("../images/Bender_footer.jpg")
  background-repeat: no-repeat
  height: 19.5rem
  margin: 4rem auto 0



