*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

html, body
  width: 100%
  margin: 0
  padding: 0

html
  font-size: 10px

/*mobile first*/

.logo, .search
  margin: 4rem 0 0 0
  text-align: center

.search
  background-image: url("../images/search.png")
  background-repeat: no-repeat
  width: 27rem
  height: 3.5rem
  margin: 4rem auto
  &  p
    font-size: 1.5rem
    font-family: Arial, sans-serif
    color: #bfbfbf
  &  input
    border: none
    padding: 1rem
    height: 0.5rem
    margin-top: 0.5rem
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: right
    margin: 6rem 8rem 6rem 0

.sign_search
  background-image: url("../images/enter.png")
  background-color: transparent
  background-repeat: no-repeat
  display: block
  float: right
  width: 3rem
  height: 3rem
  margin: 0rem -3rem 0 0
  border: none

h2
  font-size: 3rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%

.logo
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: left
    margin: 6rem 0 6rem 8rem


.book
  display: inline-block
  text-align: center
  @media screen and (min-width: 760px) and (orientation: landscape)
    vertical-align: top
    width: 48%
  @media screen and (min-width: 1024px) and (orientation: landscape)
    vertical-align: top
    width: 25%
    margin: 0

#books_page
  height: 100%
  clear: both

.cite
  font-size: 1.9rem
  font-family: Arial, sans-serif
  color: #4c4c4c
  text-align: center
  padding: 0 5%
  margin: 3rem 0 6rem
  @media screen and (min-width: 1024px) and (orientation: landscape)
    margin: 3rem 0 7rem

h1
  clear: both
  font-size: 3.8rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%

.buttonAdd
  clear: both
  display: flex
  justify-content: center
  width: 27.5rem
  height: 4.2rem
  margin: -4rem auto 4rem
  border: 0.2rem solid #4285be
  border-radius: 0.5rem
  background-color: #ffffff
  font-size: 1.7rem
  font-family: Arial, sans-serif
  color: #4285be
  @media screen and (min-width: 1024px) and (orientation: landscape)
    margin: 5rem auto 10rem

.buttonAdd:hover
  border: 0.2rem solid #e51907
  color: #e51907

.bender
  clear: both
  width: 30rem
  background-image: url("../images/Bender_footer.jpg")
  background-repeat: no-repeat
  height: 19.5rem
  margin: 4rem auto 0

u
  color: #74a4d1
  text-decoration: underline

u:hover
  color: #e51907
  text-decoration: underline

.cover
  box-shadow: 0.4rem 0.7rem 2rem rgba(0,0,0,0.4)









 