html
  font-size: 10px

/*mobile first*/

.logo, .search
  margin: 4rem 0 0 0
  text-align: center

.search
  background-image: url("../images/search.png")
  background-repeat: no-repeat
  width: 27rem
  height: 3.5rem
  margin: 4rem auto
  &  p
    font-size: 1.5rem
    font-family: Arial, sans-serif
    color: #bfbfbf
  &  input
    border: none
    padding: 1rem
    height: 0.5rem
    margin-top: 0.5rem
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: right
    margin: 6rem 8rem 6rem 0

.logo
  @media screen and (min-width: 1024px) and (orientation: landscape)
    float: left
    margin: 6rem 0 6rem 8rem

h1
  clear: both
  font-size: 2.5rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 7.2rem

.descriptionBook
  clear: both
  font-size: 2.3rem
  font-family: Arial, sans-serif
  color: #333333
  text-align: center
  line-height: 3.4rem
  @media screen and (min-width: 600px) and (orientation: landscape)
    width: 41.7rem
    padding: 0 1.5rem
    margin: 0 auto

.coverImg
  display: block
  margin: 4rem auto
  @media screen and (min-width: 600px) and (orientation: landscape)
    margin: 0 auto

.bender
  clear: both
  width: 30rem
  background-image: url("../images/Bender_footer.jpg")
  background-repeat: no-repeat
  height: 19.5rem
  margin: 4rem auto 0

#book_card
  margin: 0 auto

.input-data
  width: 100%
  @media screen and (min-width: 600px) and (orientation: landscape)
    float: left
    width: 33.33%

#book_title
  clear: both
  font-size: 2rem
  font-family: Arial, sans-serif
  font-weight: bold
  color: #000000
  text-align: center
  padding: 0 5%
  @media screen and (min-width: 600px) and (orientation: landscape)
    font-size: 3.8rem

.link
  text-align: center

.order_field
  font-size: 2rem
  font-family: Arial, sans-serif
  color: #000000
  margin: 0 0 0 5rem

.delivery
  font-size: 2rem
  font-family: Arial, sans-serif
  color: #000000
  margin: 3rem 0 0 5rem

.order_field_comment
  font-size: 2rem
  font-family: Arial, sans-serif
  color: #000000
  margin: 0 0 0 5rem

.name, .phone, .email
  width: 70%;
  display: block;
  margin: 0 auto;
  border: 0.3rem solid #000000
  @media screen and (min-width: 600px) and (orientation: landscape)
    margin: 0 0 1.5rem 5rem

.deliv_options
  font-size: 1.5rem
  font-family: Arial, sans-serif
  color: #000000
  margin-left: 5rem

.pay_options
  margin-left: 5rem
  font-size: 1.5rem
  font-family: Arial, sans-serif
  color: #000000

.comment_order
  display: block
  margin: 2rem auto
  width: 28rem
  height: 13rem
  border: 0.3rem solid #000000
  @media screen and (min-width: 600px) and (orientation: landscape)
    width: 30rem
    height: 15rem
    margin-left: 5rem

.address
  width: 20rem
  height: 3rem
  margin: 2rem 0 1.5rem 5rem

.book_cost
  font-size: 2rem
  font-family: Arial, sans-serif
  color: #000000
  width: 25rem
  margin: 5rem auto 0
  @media screen and (min-width: 600px) and (orientation: landscape)
    margin: 10rem auto 0

.payment
  margin: 0 0 0 5rem
  font-size: 2rem
  font-family: Arial, sans-serif
  color: #000000
  @media screen and (min-width: 600px) and (orientation: landscape)
      margin: 5rem

.payment_block
  height: 11rem

.signIn
  display: flex
  justify-content: center
  width: 29rem
  height: 6.5rem
  background-color: #805582
  margin: 4rem auto
  border: 0.2rem solid #805582
  border-radius: 1rem
  font-size: 3.2rem
  line-height: 3.8rem
  font-family: Arial, sans-serif
  color: #ffffff

.error
  margin: 0 0 0 5rem
  font-size: 1.5rem
  font-family: Arial, sans-serif
  color: red

@mixin gradient($from-color, $to-color)
  background-color: mix($from-color, $to-color); /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color))
  background-image: -webkit-linear-gradient(top, $from-color, $to-color)
  background-image:    -moz-linear-gradient(top, $from-color, $to-color)
  background-image:     -ms-linear-gradient(top, $from-color, $to-color)
  background-image:      -o-linear-gradient(top, $from-color, $to-color)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')"

.signIn:hover
  @include gradient(#c18cc4,  #4b294d)







